docs/node_red/pi-slx2.json
[
    {
        "id": "6a04d4a9.dafc2c",
        "type": "tab",
        "label": "Mqtt Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "299219ed.4976d6",
        "type": "tab",
        "label": "Mqtt Subscribe",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f025c8ec.ac19b8",
        "type": "subflow",
        "name": "Config Folder",
        "info": "A block that reads in a config file and coverts\nit to a JSON object.\n\nTo specify where the config files are, configPath\nparameter within the global context needs to be set specifing the absolute path to the config folder.\n\nSet the msg.payload to specify which config file to read.\n\nExample : \"config.json\" ===>\n        reads in the config.json file",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 240,
                "wires": [
                    {
                        "id": "81d0fff6.53107"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1200,
                "y": 240,
                "wires": [
                    {
                        "id": "de8c3397.5a09a",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "95784e2c.07935",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "c37a5dc0.671c2",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "f65ee0ce.da1ba",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "cc4e763f.470928",
        "type": "mqtt-dynamic-broker",
        "z": "",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "c6bc470a.98c388",
        "type": "mqtt-dynamic-broker",
        "z": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "8e22f62c.6e17c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "alicedigitallabs3",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "6533ba5b.f52a64",
        "type": "mqtt-broker",
        "z": "",
        "name": "websockets",
        "broker": "thedigitallabsmqtt.herokuapp.com",
        "port": "80",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c44476.a99e5b8",
        "type": "comment",
        "z": "f025c8ec.ac19b8",
        "name": "Retireves the contents of the config file",
        "info": "",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "81d0fff6.53107",
        "type": "function",
        "z": "f025c8ec.ac19b8",
        "name": "Global Config File Path",
        "func": "configPath = global.get(\"configPath\");\n\nmsg.filename = configPath + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "94c08c26.14288"
            ]
        ]
    },
    {
        "id": "94c08c26.14288",
        "type": "file in",
        "z": "f025c8ec.ac19b8",
        "name": "Json File",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "de8c3397.5a09a"
            ]
        ]
    },
    {
        "id": "de8c3397.5a09a",
        "type": "json",
        "z": "f025c8ec.ac19b8",
        "name": "Config Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 900,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "caf5274.38655d8",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Testing All",
        "topic": "",
        "payload": "all",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "3529752b.0d43ca",
        "type": "mqtt out",
        "z": "6a04d4a9.dafc2c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6533ba5b.f52a64",
        "x": 1030,
        "y": 600,
        "wires": []
    },
    {
        "id": "35254c1a.11c9c4",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Pi State",
        "topic": "",
        "payload": "pi_state",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "c137df82.b6959",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Game State",
        "topic": "",
        "payload": "game_state",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "6296be5.70db14",
        "type": "function",
        "z": "6a04d4a9.dafc2c",
        "name": "",
        "func": "\nlet messages = [];\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"pi_state\") {\n    \n    let request = {\n        requested : \"debug\"\n    }\n    \n    let msg = {\n        topic: \"testUUID/control/pi_state\",\n        payload: request,\n        retain : true\n    };\n    messages.push(msg);\n}\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"game_state\") {\n    let msg = {\n        topic: \"testUUID/control/game_state\",\n        payload: \"Testing Game State\"\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"channel\" || msg.payload === \"throttle\") {\n    \n    let msg = {\n        topic: \"testUUID/control/1/throttle\",\n        payload: {\n            set : 90\n        }\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"channel\" || msg.payload === \"event\") {\n    let msg = {\n        topic: \"testUUID/control/1/event\",\n        payload: \"Testing Channel Event\"\n    };\n    messages.push(msg);\n}\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"channel\" || msg.payload === \"state\") {\n    let request = {\n        state : \"requested\",\n        target : 0\n    }\n    \n    let msg = {\n        topic: \"testUUID/control/1/1/state\",\n        payload: request\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"channel\" || msg.payload === \"count\") {\n    let msg = {\n        topic: \"testUUID/control/1/1/count\",\n        payload: \"Testing Resource Count\"\n    };\n    messages.push(msg);\n}\n\nif (msg.payload === \"all\" || msg.payload === \"sensors\") {\n    let msg = {\n        topic: \"testUUID/sensors\",\n        payload: \"Testing Sensors\"\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"sensorId\") {\n    let msg = {\n        topic: \"testUUID/sensors/1\",\n        payload: \"Testing Specific Sensor\"\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"trigger_percent\") {\n    let msg = {\n        topic: \"testUUID/sensors/1/trigger_percent\",\n        payload: \"Testing Throttle Percent\"\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"resources\") {\n    let msg = {\n        topic: \"testUUID/resources\",\n        payload: \"Testing Resources\"\n    };\n    messages.push(msg);\n}\n\n\n\n\n\nreturn [messages];",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 580,
        "wires": [
            [
                "3529752b.0d43ca"
            ]
        ]
    },
    {
        "id": "ef292450.80be48",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Control",
        "topic": "",
        "payload": "control",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "2d7c2d89.cab0d2",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Channel",
        "topic": "",
        "payload": "channel",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "d62ff629.1f0da8",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Throttle",
        "topic": "",
        "payload": "throttle",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "26171fbb.635be",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "State",
        "topic": "",
        "payload": "state",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "df5ac2ce.0b14e",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Count",
        "topic": "",
        "payload": "count",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 620,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "b03d4c97.bcf97",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Event",
        "topic": "",
        "payload": "event",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 660,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "b7790db0.85efd",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Sensors",
        "topic": "",
        "payload": "sensors",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 720,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "160aa623.87be6a",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Sensor Id",
        "topic": "",
        "payload": "sensorId",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "f06bb4a2.403358",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "Trigger Percent",
        "topic": "",
        "payload": "trigger_percent",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "69c09f1f.da3c8",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "resources",
        "topic": "",
        "payload": "resources",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 860,
        "wires": [
            [
                "6296be5.70db14"
            ]
        ]
    },
    {
        "id": "8cd5923.c3af47",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "5% Throttle",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 410,
        "y": 980,
        "wires": [
            [
                "a67ef3fc.c4f3a"
            ]
        ]
    },
    {
        "id": "e6efb30f.dd9bb",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "30% Throttle",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 413,
        "y": 1041,
        "wires": [
            [
                "a67ef3fc.c4f3a"
            ]
        ]
    },
    {
        "id": "10ecd1fe.8bad1e",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "50% Throttle",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 415,
        "y": 1097,
        "wires": [
            [
                "a67ef3fc.c4f3a"
            ]
        ]
    },
    {
        "id": "48a7b77e.00b558",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "100% Throttle",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 413,
        "y": 1155,
        "wires": [
            [
                "a67ef3fc.c4f3a"
            ]
        ]
    },
    {
        "id": "a67ef3fc.c4f3a",
        "type": "function",
        "z": "6a04d4a9.dafc2c",
        "name": "",
        "func": "let percent = msg.payload\nlet message = {\n    topic: \"nano274/control/0/throttle\",\n    payload: {\n        set : percent\n    }\n};\nreturn message;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1020,
        "wires": [
            [
                "3529752b.0d43ca"
            ]
        ]
    },
    {
        "id": "5749cb73.caa794",
        "type": "inject",
        "z": "6a04d4a9.dafc2c",
        "name": "0% Throttle",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 410,
        "y": 920,
        "wires": [
            [
                "a67ef3fc.c4f3a"
            ]
        ]
    },
    {
        "id": "9f9cf8dd.b7d4b8",
        "type": "mqtt-dynamic in",
        "z": "299219ed.4976d6",
        "name": "{UUID}/control/pi_state",
        "broker": "cc4e763f.470928",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "a014f8b.1763608"
            ]
        ]
    },
    {
        "id": "e661f05d.82ed8",
        "type": "mqtt-dynamic in",
        "z": "299219ed.4976d6",
        "name": "{UUID}/control/{channel}/throttle",
        "broker": "c6bc470a.98c388",
        "x": 1090,
        "y": 480,
        "wires": [
            [
                "bf584f4b.0f8ee"
            ]
        ]
    },
    {
        "id": "927c4e2.acb97b",
        "type": "mqtt-dynamic in",
        "z": "299219ed.4976d6",
        "name": "{UUID}/control/{channel}/{resourceId}/state",
        "broker": "c6bc470a.98c388",
        "x": 1390,
        "y": 600,
        "wires": [
            [
                "f38c028d.b7259"
            ]
        ]
    },
    {
        "id": "15702bf5.5761a4",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "The State of the Pi",
        "info": "Allows the Pi to move to another state (such as play to debug)\n\nThe Pi state can only be:\n\n- ready : {state}\n- requested : {target_state}\n- busy : {target_state}",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "77b7f2d8.486fdc",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Throttle Percentage for a Channel",
        "info": "Sets the throttle percentage for a specific channel (car)",
        "x": 1100,
        "y": 440,
        "wires": []
    },
    {
        "id": "55733a70.143124",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "The State of the Resource",
        "info": "SPWA can request to set the state of \nthe resource to requested.\n\n",
        "x": 1390,
        "y": 560,
        "wires": []
    },
    {
        "id": "7fff4cba.f72b94",
        "type": "link in",
        "z": "299219ed.4976d6",
        "name": "Control-Subscribe",
        "links": [
            "a3987ddd.a47a88",
            "3645017c.7820fe"
        ],
        "x": 75,
        "y": 380,
        "wires": [
            [
                "8b43dff.bd5f92"
            ]
        ]
    },
    {
        "id": "1ec92e69.6bd292",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/control",
        "func": "msg.topic = msg.topic+\"/control\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "248c7c8c.4fd104",
                "892cd167.4a108"
            ]
        ]
    },
    {
        "id": "248c7c8c.4fd104",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/pi_state",
        "func": "msg.topic = msg.topic+\"/pi_state\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "9f9cf8dd.b7d4b8"
            ]
        ]
    },
    {
        "id": "892cd167.4a108",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/{channel}",
        "func": "msg.topic = msg.topic+\"/+\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "f3e396bc.92f7a8",
                "f5585b1f.38ead8",
                "599d450a.a8f7fc"
            ]
        ]
    },
    {
        "id": "f3e396bc.92f7a8",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/throttle",
        "func": "msg.topic = msg.topic+\"/throttle\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "e661f05d.82ed8"
            ]
        ]
    },
    {
        "id": "f5585b1f.38ead8",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/{resource_id}",
        "func": "msg.topic = msg.topic+\"/+\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 600,
        "wires": [
            [
                "ab6cb95c.038278"
            ]
        ]
    },
    {
        "id": "ab6cb95c.038278",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/state",
        "func": "msg.topic = msg.topic+\"/state\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 600,
        "wires": [
            [
                "927c4e2.acb97b"
            ]
        ]
    },
    {
        "id": "f5731156.9a453",
        "type": "link in",
        "z": "299219ed.4976d6",
        "name": "Pi_State",
        "links": [
            "ff642cb4.bab9f"
        ],
        "x": 195,
        "y": 1000,
        "wires": [
            [
                "fe6b0140.eaa1f"
            ]
        ]
    },
    {
        "id": "fe6b0140.eaa1f",
        "type": "json",
        "z": "299219ed.4976d6",
        "name": "Request Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "b63a9ce.5abf16"
            ]
        ]
    },
    {
        "id": "5dcbc6ae.49da48",
        "type": "switch",
        "z": "299219ed.4976d6",
        "name": "Pi State",
        "property": "payload.requested",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "debug",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "292bb115.ed22be",
        "type": "mqtt out",
        "z": "299219ed.4976d6",
        "name": "/pi_state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "6533ba5b.f52a64",
        "x": 1020,
        "y": 920,
        "wires": []
    },
    {
        "id": "c4fb7f60.7169c",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Pi state Ready",
        "func": "msg.payload = {\n    ready: msg.payload.requested\n};\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 920,
        "wires": [
            [
                "292bb115.ed22be"
            ]
        ]
    },
    {
        "id": "b63a9ce.5abf16",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Is Requested",
        "func": "\nif(msg.payload.hasOwnProperty('requested')){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "5dcbc6ae.49da48",
                "c4fb7f60.7169c"
            ]
        ]
    },
    {
        "id": "7942ff6e.3b591",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Is A New State Being Requested ",
        "info": "",
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "22fa04a2.93dc0c",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Change Pi State To Ready",
        "info": "",
        "x": 890,
        "y": 880,
        "wires": []
    },
    {
        "id": "87c375b9.6f83c8",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Execute Pi State",
        "info": "",
        "x": 880,
        "y": 980,
        "wires": []
    },
    {
        "id": "ff642cb4.bab9f",
        "type": "link out",
        "z": "299219ed.4976d6",
        "name": "",
        "links": [
            "f5731156.9a453",
            "8f8af3a0.8309e",
            "e7851623.a1b2"
        ],
        "x": 1175,
        "y": 380,
        "wires": []
    },
    {
        "id": "5f7ed450.53e37c",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Pi State",
        "info": "",
        "x": 190,
        "y": 960,
        "wires": []
    },
    {
        "id": "bbf07438.19c928",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Pi State",
        "info": "",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "6d92f512.cabb0c",
        "type": "link in",
        "z": "299219ed.4976d6",
        "name": "Throttle",
        "links": [
            "df2fe419.8afa28"
        ],
        "x": 195,
        "y": 1260,
        "wires": [
            [
                "992cb4c2.f435c8"
            ]
        ]
    },
    {
        "id": "95f88c87.9ed48",
        "type": "mqtt out",
        "z": "299219ed.4976d6",
        "name": "/throttle",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "8e22f62c.6e17c8",
        "x": 1140,
        "y": 1160,
        "wires": []
    },
    {
        "id": "992cb4c2.f435c8",
        "type": "json",
        "z": "299219ed.4976d6",
        "name": "Throttle Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "c6cbc50f.aa25c8"
            ]
        ]
    },
    {
        "id": "9e203d26.49e61",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Is New Throttle Percentage Being Requested ",
        "info": "",
        "x": 610,
        "y": 1220,
        "wires": []
    },
    {
        "id": "16f36e24.e8d552",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Throttle",
        "info": "",
        "x": 190,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3f41876f.e5de78",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Execute Throttle",
        "info": "Outputs all channels throttle",
        "x": 1680,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ecdb1f8a.e6e9",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Retain New Throttle Percent",
        "info": "",
        "x": 1140,
        "y": 1120,
        "wires": []
    },
    {
        "id": "df2fe419.8afa28",
        "type": "link out",
        "z": "299219ed.4976d6",
        "name": "",
        "links": [
            "6d92f512.cabb0c"
        ],
        "x": 1475,
        "y": 480,
        "wires": []
    },
    {
        "id": "103e7e48.84f9b2",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Throttle",
        "info": "",
        "x": 1470,
        "y": 440,
        "wires": []
    },
    {
        "id": "a014f8b.1763608",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0]\n};\n\nconsole.log(\"UUID\");\nconsole.log(msg.wildcards);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "ff642cb4.bab9f"
            ]
        ]
    },
    {
        "id": "bf584f4b.0f8ee",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0],\n    channel : topicParts[2]\n};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1320,
        "y": 480,
        "wires": [
            [
                "df2fe419.8afa28"
            ]
        ]
    },
    {
        "id": "f38c028d.b7259",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0],\n    channel : topicParts[2],\n    resourceId : topicParts[3]\n};\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680,
        "y": 600,
        "wires": [
            [
                "f547ef97.ae741"
            ]
        ]
    },
    {
        "id": "30a924f9.c9f5ac",
        "type": "link in",
        "z": "299219ed.4976d6",
        "name": "Resource",
        "links": [
            "f547ef97.ae741"
        ],
        "x": 195,
        "y": 1620,
        "wires": [
            [
                "9639bb31.1826a8"
            ]
        ]
    },
    {
        "id": "d1cf4e26.02444",
        "type": "mqtt out",
        "z": "299219ed.4976d6",
        "name": "/{resourceId}/state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "6533ba5b.f52a64",
        "x": 1070,
        "y": 1500,
        "wires": []
    },
    {
        "id": "37bfe3ae.7c33fc",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Resource State Busy",
        "func": "msg.payload.state = \"busy\";\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1500,
        "wires": [
            [
                "d1cf4e26.02444"
            ]
        ]
    },
    {
        "id": "2247bd89.4c7ea2",
        "type": "switch",
        "z": "299219ed.4976d6",
        "name": "Is Requested State",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "requested",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 1620,
        "wires": [
            [
                "37bfe3ae.7c33fc",
                "8e06e6dd.bfeef8",
                "e89c39ac.d966c8"
            ]
        ]
    },
    {
        "id": "e82e8dfb.c583c",
        "type": "exec",
        "z": "299219ed.4976d6",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Resource State",
        "x": 2440,
        "y": 1620,
        "wires": [
            [
                "1aac42ab.69fb1d"
            ],
            [],
            []
        ]
    },
    {
        "id": "88ee186.c6db0e8",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Resource State Ready",
        "func": "msg.payload = {\n    state : \"ready\"\n};\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2980,
        "y": 1560,
        "wires": [
            [
                "85fd3235.1eb85"
            ]
        ]
    },
    {
        "id": "8e06e6dd.bfeef8",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Target Channel Event",
        "func": "\nlet uuid = msg.wildcards.uuid;\nlet channelTarget = msg.payload.target;\n\nmsg.topic = `${uuid}/control/${channelTarget}/event`\nmsg.payload = {\n    resourceId : msg.wildcards.resourceId,\n}\nmsg.retain = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1740,
        "wires": [
            [
                "143c9926.557d97"
            ]
        ]
    },
    {
        "id": "143c9926.557d97",
        "type": "mqtt out",
        "z": "299219ed.4976d6",
        "name": "{channel}/event",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "6533ba5b.f52a64",
        "x": 1040,
        "y": 1740,
        "wires": []
    },
    {
        "id": "8b93be23.c785c",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Get Resource Script Path",
        "func": "let resourceId = msg.wildcards.resourceId;\nlet resources = msg.resources;\n\nlet resourcesPath = msg.payload.paths.resources;\n\nlet channel\n\nif(msg.target == 0){\n    channel = 18;\n}else if(msg.target == 1){\n    channel = 23;\n}\n\nfor(let i=0;i<resources.length;i++){\n    if(resources[i].id == resourceId && resources[i].systemResource == \"throttle\"){\n        msg.payload = `python ${resourcesPath}${resources[i].name}.py ${channel} `;\n        break;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2210,
        "y": 1620,
        "wires": [
            [
                "e82e8dfb.c583c",
                "93cb89f4.8ea778"
            ]
        ]
    },
    {
        "id": "85fd3235.1eb85",
        "type": "mqtt out",
        "z": "299219ed.4976d6",
        "name": "/{resourceId}/state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "6533ba5b.f52a64",
        "x": 3230,
        "y": 1560,
        "wires": []
    },
    {
        "id": "9639bb31.1826a8",
        "type": "json",
        "z": "299219ed.4976d6",
        "name": "Resource Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 1620,
        "wires": [
            [
                "2247bd89.4c7ea2"
            ]
        ]
    },
    {
        "id": "c2e1ada2.87791",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Resource",
        "info": "",
        "x": 200,
        "y": 1580,
        "wires": []
    },
    {
        "id": "89eda7ba.e14938",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Is A Resource Being Deployed",
        "info": "",
        "x": 440,
        "y": 1580,
        "wires": []
    },
    {
        "id": "6de4c24e.63f71c",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Change Resource State To Busy",
        "info": "",
        "x": 930,
        "y": 1460,
        "wires": []
    },
    {
        "id": "7f2f8336.cdfa2c",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Inform Targeted Channel of Deployed Resource",
        "info": "",
        "x": 940,
        "y": 1700,
        "wires": []
    },
    {
        "id": "668b35a6.5fd6dc",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Retrieve Resource Script ",
        "info": "",
        "x": 1450,
        "y": 1580,
        "wires": []
    },
    {
        "id": "457f1470.c52e3c",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Execute Deployed Resource",
        "info": "",
        "x": 2380,
        "y": 1560,
        "wires": []
    },
    {
        "id": "7be93ab0.be2bd4",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Change Resource State To Ready",
        "info": "",
        "x": 3020,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f547ef97.ae741",
        "type": "link out",
        "z": "299219ed.4976d6",
        "name": "Resource",
        "links": [
            "30a924f9.c9f5ac"
        ],
        "x": 1815,
        "y": 600,
        "wires": []
    },
    {
        "id": "a75ae854.419948",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Resource",
        "info": "",
        "x": 1820,
        "y": 560,
        "wires": []
    },
    {
        "id": "c9faaf38.0508f",
        "type": "json",
        "z": "299219ed.4976d6",
        "name": "Sensors Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 540,
        "y": 1980,
        "wires": [
            [
                "c625fd70.d73fd"
            ]
        ]
    },
    {
        "id": "b791dfb2.abcd8",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Retrieve Sensors",
        "info": "",
        "x": 440,
        "y": 1940,
        "wires": []
    },
    {
        "id": "c625fd70.d73fd",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/sensors",
        "func": "\nmsg.topic = msg.config.uuid+\"/sensors\";\nconsole.log(\"uuid: \" + msg.config.uuid);\nconsole.log(\"topic: \" + msg.topic);\nmsg.retain = true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1980,
        "wires": [
            [
                "31f2b281.5b5e9e",
                "afbf17d7.935698"
            ]
        ]
    },
    {
        "id": "31f2b281.5b5e9e",
        "type": "mqtt out",
        "z": "299219ed.4976d6",
        "name": "/sensors",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "6533ba5b.f52a64",
        "x": 920,
        "y": 1980,
        "wires": []
    },
    {
        "id": "8b43dff.bd5f92",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/{UUID}",
        "func": "msg.topic = msg.config.uuid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "1ec92e69.6bd292"
            ]
        ]
    },
    {
        "id": "4caa82ec.8b77dc",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Publish Sensor Config Data",
        "info": "",
        "x": 800,
        "y": 1940,
        "wires": []
    },
    {
        "id": "afbf17d7.935698",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Set Default Trigger Percentages",
        "func": "let triggerPercentMsgs = [];\n\nmsg.payload.forEach(function(sensor){\n    let message = {\n        topic : `${msg.config.uuid}/sensors/${sensor.id}/trigger_percent`,\n        payload : sensor.default_trigger,\n        retain : true\n    }\n    \n    triggerPercentMsgs.push(message);\n})\n\n\n\n\nreturn [triggerPercentMsgs];",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 2100,
        "wires": [
            [
                "95127aec.7a2a68"
            ]
        ]
    },
    {
        "id": "95127aec.7a2a68",
        "type": "mqtt out",
        "z": "299219ed.4976d6",
        "name": "/sensors/{sensorId}/trigger_percent",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "6533ba5b.f52a64",
        "x": 1400,
        "y": 2100,
        "wires": []
    },
    {
        "id": "f1fff996.b313b8",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Publish Sensor Default Trigger Percents",
        "info": "",
        "x": 1290,
        "y": 2060,
        "wires": []
    },
    {
        "id": "b3e655ae.63e2d8",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "TODO WHEN RESOURCE FAILS",
        "info": "",
        "x": 2690,
        "y": 1640,
        "wires": []
    },
    {
        "id": "2501eccf.0bc1b4",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Sensor Details",
        "func": "let brokerDetails = msg.config.broker;\n\nlet sensorsPath = msg.config.paths.sensors;\n\nlet uuid = msg.config.uuid;\n\nlet command = `python ${sensorsPath} ${uuid} ${brokerDetails.host} ${brokerDetails.port} `\n\nif(brokerDetails.username && brokerDetails.username !== \"None\"){\n    command += ` --username ${brokerDetails.username}`;\n}\n\nif(brokerDetails.password && brokerDetails.password !== \"None\"){\n    command += ` --password ${brokerDetails.password}`;\n}\n\n\nconsole.log(\"sensor connection command:\");\nconsole.log(command);\n\nmsg.payload = command\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 2060,
        "wires": [
            [
                "a0d78c6c.c0255"
            ]
        ]
    },
    {
        "id": "a0d78c6c.c0255",
        "type": "exec",
        "z": "299219ed.4976d6",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Start Sensors",
        "x": 480,
        "y": 2060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8d161411.f356c8",
        "type": "inject",
        "z": "299219ed.4976d6",
        "name": "onStart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "fca4eba2.ce2548"
            ]
        ]
    },
    {
        "id": "fca4eba2.ce2548",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Set Global Context",
        "func": "global.set(\"configPath\",\"/home/pi/github/pi_scalextric_mqtt/mqtt/src/Config/\");\nmsg.payload = \"config.json\"\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "77369c0d.918014"
            ]
        ]
    },
    {
        "id": "77369c0d.918014",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "299219ed.4976d6",
        "name": "",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "a234ded6.670bf"
            ]
        ]
    },
    {
        "id": "3645017c.7820fe",
        "type": "link out",
        "z": "299219ed.4976d6",
        "name": "",
        "links": [
            "7fff4cba.f72b94",
            "f71aae3b.df487",
            "977e093a.cbb5c8"
        ],
        "x": 895,
        "y": 180,
        "wires": []
    },
    {
        "id": "c6cbc50f.aa25c8",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Throttle Set",
        "func": "if(msg.payload.hasOwnProperty('set')){\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1260,
        "wires": [
            [
                "faf9aa18.dfff08",
                "2bbca198.26170e"
            ]
        ]
    },
    {
        "id": "1bccfe3.632af02",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Read Config File",
        "info": "",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "dd20ae34.d26e1",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Connects to Subscribers",
        "info": "",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "599d450a.a8f7fc",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/event",
        "func": "msg.topic = msg.topic+\"/event\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "4f3fd197.b5b1f"
            ]
        ]
    },
    {
        "id": "4f3fd197.b5b1f",
        "type": "mqtt-dynamic in",
        "z": "299219ed.4976d6",
        "name": "{UUID}/control/{channel}/event",
        "broker": "c6bc470a.98c388",
        "x": 1110,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "32902049.32ef",
        "type": "rpi-gpio out",
        "z": "299219ed.4976d6",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "x": 1700,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c4048d73.92805",
        "type": "switch",
        "z": "299219ed.4976d6",
        "name": "Which Channel",
        "property": "wildcards.channel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1460,
        "y": 1260,
        "wires": [
            [
                "32902049.32ef"
            ],
            [
                "7d8fe3f4.a76d0c"
            ]
        ]
    },
    {
        "id": "faf9aa18.dfff08",
        "type": "change",
        "z": "299219ed.4976d6",
        "name": "Get Throttle Percent",
        "rules": [
            {
                "t": "move",
                "p": "payload.set",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "95f88c87.9ed48",
                "10e3d75b.6aa509"
            ]
        ]
    },
    {
        "id": "e89c39ac.d966c8",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Lock Throttle Changes",
        "func": "flow.set(`channel_${msg.payload.target}_lock`,true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1620,
        "wires": [
            [
                "a7720f6a.87b99"
            ]
        ]
    },
    {
        "id": "a7720f6a.87b99",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Store Target",
        "func": "msg.target = msg.payload.target;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1620,
        "wires": [
            [
                "fbc06ef6.f8e7d"
            ]
        ]
    },
    {
        "id": "1aac42ab.69fb1d",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Un-Lock Throttle Changes",
        "func": "flow.set(`channel_${msg.target}_lock`,false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2720,
        "y": 1560,
        "wires": [
            [
                "88ee186.c6db0e8"
            ]
        ]
    },
    {
        "id": "10e3d75b.6aa509",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Is Un-Locked",
        "func": "let lock = flow.get(`channel_${msg.wildcards.channel}_lock`);\nnode.log(lock);\nif(!lock){\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1260,
        "wires": [
            [
                "c4048d73.92805"
            ]
        ]
    },
    {
        "id": "977e093a.cbb5c8",
        "type": "link in",
        "z": "299219ed.4976d6",
        "name": "Init-Pi",
        "links": [
            "adc2fcbc.29e718",
            "a3987ddd.a47a88",
            "3645017c.7820fe"
        ],
        "x": 60,
        "y": 1980,
        "wires": [
            [
                "2501eccf.0bc1b4",
                "6034011a.5ca5d"
            ]
        ]
    },
    {
        "id": "7d8fe3f4.a76d0c",
        "type": "rpi-gpio out",
        "z": "299219ed.4976d6",
        "name": "",
        "pin": "11",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "x": 1670,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f71aae3b.df487",
        "type": "link in",
        "z": "299219ed.4976d6",
        "name": "Init-Pi",
        "links": [
            "3645017c.7820fe"
        ],
        "x": 75,
        "y": 2300,
        "wires": [
            [
                "a2721d56.32dbc"
            ]
        ]
    },
    {
        "id": "d5f53cbe.ea72c",
        "type": "json",
        "z": "299219ed.4976d6",
        "name": "Resources Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 2300,
        "wires": [
            [
                "f1d20c23.154f1"
            ]
        ]
    },
    {
        "id": "35a4d02f.6103",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Retrieve Sensors",
        "info": "",
        "x": 400,
        "y": 2260,
        "wires": []
    },
    {
        "id": "f1d20c23.154f1",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "/resources",
        "func": "\nmsg.topic = msg.config.uuid+\"/resources\";\nconsole.log(\"uuid: \" + msg.config.uuid);\nconsole.log(\"topic: \" + msg.topic);\nmsg.retain = true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 2300,
        "wires": [
            [
                "ebbebe5f.a441e"
            ]
        ]
    },
    {
        "id": "ebbebe5f.a441e",
        "type": "mqtt out",
        "z": "299219ed.4976d6",
        "name": "/resources",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "6533ba5b.f52a64",
        "x": 950,
        "y": 2300,
        "wires": []
    },
    {
        "id": "228ea472.a1a75c",
        "type": "comment",
        "z": "299219ed.4976d6",
        "name": "Publish Sensor Config Data",
        "info": "",
        "x": 840,
        "y": 2260,
        "wires": []
    },
    {
        "id": "a234ded6.670bf",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Set Payload To Config",
        "func": "msg.config = msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "3645017c.7820fe"
            ]
        ]
    },
    {
        "id": "fbc06ef6.f8e7d",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Resources File",
        "func": "msg.payload= 'resources.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 1620,
        "wires": [
            [
                "6afe1c66.aa02e4"
            ]
        ]
    },
    {
        "id": "6afe1c66.aa02e4",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "299219ed.4976d6",
        "name": "",
        "x": 1390,
        "y": 1620,
        "wires": [
            [
                "a6e5e870.10bf08"
            ]
        ]
    },
    {
        "id": "a6e5e870.10bf08",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Store Resources",
        "func": "msg.resources = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 1620,
        "wires": [
            [
                "9a01b6ac.9a4748"
            ]
        ]
    },
    {
        "id": "9a01b6ac.9a4748",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Config File",
        "func": "msg.payload= 'config.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1790,
        "y": 1620,
        "wires": [
            [
                "8446a571.c18518"
            ]
        ]
    },
    {
        "id": "8446a571.c18518",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "299219ed.4976d6",
        "name": "",
        "x": 1950,
        "y": 1620,
        "wires": [
            [
                "8b93be23.c785c"
            ]
        ]
    },
    {
        "id": "68acbeee.6e97a",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "299219ed.4976d6",
        "name": "",
        "x": 370,
        "y": 1980,
        "wires": [
            [
                "c9faaf38.0508f"
            ]
        ]
    },
    {
        "id": "6034011a.5ca5d",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Sensor File",
        "func": "msg.payload = \"sensors.json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 1980,
        "wires": [
            [
                "68acbeee.6e97a"
            ]
        ]
    },
    {
        "id": "a2721d56.32dbc",
        "type": "function",
        "z": "299219ed.4976d6",
        "name": "Resources File",
        "func": "msg.payload= 'resources.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 2300,
        "wires": [
            [
                "42662500.fe4a5c"
            ]
        ]
    },
    {
        "id": "42662500.fe4a5c",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "299219ed.4976d6",
        "name": "",
        "x": 370,
        "y": 2300,
        "wires": [
            [
                "d5f53cbe.ea72c"
            ]
        ]
    },
    {
        "id": "2bbca198.26170e",
        "type": "debug",
        "z": "299219ed.4976d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1120,
        "y": 1060,
        "wires": []
    },
    {
        "id": "93cb89f4.8ea778",
        "type": "debug",
        "z": "299219ed.4976d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 2640,
        "y": 1720,
        "wires": []
    }
]